@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Battambang;
  src: url('./fonts/Battambang.ttf');
}
* {
  font-family: "Battambang", sans-serif;
  box-sizing: border-box;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}
.__default_color {
  color: #1d4ed8;
}

.__default_bg_color {
  background-color: #1d4ed8;
}
